<!doctype html>
<html>
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
  </header>
  
  <body>
    <div ng-app="" ng-controller="control">
    <input ng-model="key.name" placeholder="Filter by friend name">
    <ul style="list-style-type:none">
      <li ng-repeat="friend in friends | filter: key | orderBy: 'name'" style="margin-bottom:10px">
        <image style="width:80px;height:80px;border-radius:40px;vertical-align:middle" src="{{friend.photo}}"/>
        <span style="vertical-align:middle;font-size:30px" >{{friend.name}}</span>
      </li>
    </ul>
    <input type="text" ng-model="newName" placeholder="Name">
    <input type="text" ng-model="newPhoto" placeholder="Photo URL"><br/>
    <input type="submit" ng-click="addFriend()" value="add a friend">
    </div>
  </body>

  <script>
    function control($scope)
    {
      $scope.friends = 
      [
        {'name':'Amy', 'photo':'http://www.gravatar.com/avatar/4a521e5a716328264a1d3e5fbc26c66f.png'},
        {'name':'Bob', 'photo':'http://www.gravatar.com/avatar/ec04eb2ca11c545a992d6c678aa7d18f.png'}
      ];
      $scope.addFriend = function(){
        $scope.friends.push({'name':$scope.newName, 'photo':$scope.newPhoto});
      };
    }
  </script>
</html>
